@model ImageModel

@{
    ViewData["Title"] = "Edit Image";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="imageFile">Choose an Image:</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
