@model SecurityServices.ViewModels.LoginViewModel

<form method="post">
    <label>Username:</label>
    <input asp-for="Username" />
    <label>Password:</label>
    <input asp-for="Password" type="password" />
    <button type="submit">Login</button>
</form>
