@model IEnumerable<SecurityServices.Models.Client>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>What they Hired <em>From US</em></h2>
                    <span>Our greatest clients</span>
                </div>
            </div>
            <div class="col-md-12">
                
            @foreach (var item in Model)
                {
            
                
            
                   
                        <div class="testimonial-item">
                            <div class="inner-content">
                                <h4>@Html.DisplayFor(modelItem => item.ClientName)</h4>
                                <span>@Html.DisplayFor(modelItem => item.ServicesAvailed)</span>
                                <p> @Html.DisplayFor(modelItem => item.StaffAssigned)</p>
                            </div>
                            <img src="http://placehold.it/60x60" alt="">
                        </div>
                    
                  
                   

              
            
                    
       
        }
             
            </div>
        </div>
    </div>
</div>
