@model ServiceImage
<form asp-controller="ServiceImageABC" asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="File" />
    <button type="submit">Upload</button>
</form>




