@{
    ViewData["Title"] = "Create Service";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="container" >
<form asp-action="Create" enctype="multipart/form-data" class="shadow p-2 rounded-lg border">
    <div class="form-group mb-4 col-md-4">
        <label for="Name" class="form-label fs-5">Service Name</label>
        <input type="text" name="name" class="form-control form-control-sm" placeholder="Enter service name" required />
    </div>

    <div class="form-group mb-4 col-md-4">
        <label for="Description" class="form-label fs-5">Service Description</label>
        <textarea name="description" class="form-control form-control-sm" rows="4" placeholder="Enter a description for the service" required></textarea>
    </div>

        <div class="form-group mb-4 col-md-4">
        <label for="imageFile" class="form-label fs-5">Service Image</label>
        <div class="input-group">
            <input type="file" name="imageFile" class="form-control form-control-sm" required />
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Upload an image for the service">
                <i class="bi bi-upload"></i> Upload
            </button>
        </div>
        <small class="form-text text-muted mt-2">Max file size: 5MB. Accepted formats: JPG, PNG, GIF.</small>
    </div>

    <button type="submit" class="btn btn-primary btn-sm  mt-3">Create Service</button>
</form>
</div>